.loginBox {
    display: flexbox;
    background-color:  #d9dbb7d3;
    border-radius: 0.4rem;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold;
}

.loginBox span {
    font-size: large;
    color: rgb(65, 12, 65);

    width: max-content;
}
.loginBox section {
    background-color: var(--active-color);
    color: rgb(19, 16, 19);
    font-size: large;
    border-radius: 5px;
}

.submitButton {
    background-color: black;
    color: wheat;
    border-radius: var(--standard-border-radius);
    float: right;
}
