@import 'page.module.scss';

.options button {
    // margin-right: 5px;
    // border-color: rgb(140, 233, 233);
    // border-style: double;
    // border-radius: 50%;
    
    // background-color: purple;
    // color: wheat;
    // display: block;
    // font-size: large;
    text-align: center;
    height: 30px
    
}

.options button:hover { background-color: rgb(226, 163, 28);}
.options button:focus { background-color: rgb(226, 163, 28);}
.options button:active { background-color: rgb(226, 28, 209);}

.options {
    display: flex;
    // justify-content: center;
}
.question {
    background-color:rgb(80, 138, 177);
    border-radius: 100px;
    // font-size: large;
    width: fit-content;
    // justify-content: center;
    // display: flexbox;
}

.questionList .questionUnit {
    background-color: rgb(32, 27, 27);
    color: whitesmoke;
    // width: 100%;
    margin-bottom: 70px;
    border-radius: 50px;
}

.questionList {
    background-color: rgb(37, 39, 66);
    color: rgb(8, 4, 19);
    border-radius: 100px;
    // margin: 10px/;
}