.grid h2 {
    float: right;
    padding-right: 10rem;
}

.topic:nth-child(1) {
    flex-basis: 1;
    flex-grow: 1;
}
.topic {
    margin: 1rem;
    padding: 2rem;
    text-align: left;
    color: rgb(255, 255, 255);
    background-color: rgb(23, 23, 180);
    text-decoration: wavy;
    border: 1px solid #eaeaea;
    border-radius: 10rem;
    transition: color 0.15s ease, border-color 0.15s ease;
}

.topic:hover,
.topic:focus,
.topic:active {
    color: rgb(252, 248, 248);
    background-color: rgb(14, 12, 12);
    border-color: #0070f3;
}

.topic:active {
    background-color: var(--active-color);
}

.topic h3 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.topic p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}
@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}